@media only screen and (max-width: 830px){
.navBar{
    display: flex;
    border: solid 1px red;
    }
    .navBar .logo {
        height: 45px;
        border: solid 1px red;
        margin-left: 5rem;
    }
}

.navBar {
    justify-content: space-around;
    z-index: 1;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0.1px 0.1px;
    background-color: white;

}

.logo {
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    box-sizing: border-box;
    height: 80px;
    box-shadow: black;
}


.icon:hover{
    cursor: pointer;
    text-decoration-style: dotted;
}

