@media only screen and (max-width: 820px){
    .navBar. input {
        display: flex;
    }
    .navBar .logo {
        height: 45px;
        margin-left: 13rem;
        margin-right: 7rem;
    }
}

@media only screen and (min-width: 820px) and (max-width: 1246px){
    .navBar .logo {
        margin-left: 11rem;
    }
}

@media only screen and (max-width: 540px) {
    .navBar .logo {
        margin-left: 20rem;
    }
}

@media screen and (max-width: 414px) {
    .navBar .logo {
        margin-left: 11rem;
    }
}

.navBar {
    justify-content: space-around;
    z-index: 1;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0.1px 0.1px #1c6193;
    background-color: white;

}

.logo {
    display: flex;
    margin-left: -2rem;
    box-sizing: border-box;
    height: 80px;
    box-shadow: black;
}

.icon:hover{
    cursor: pointer;
    text-decoration-style: dotted;
}