@media only screen and (max-width: 830px){
    .input .inputField{
        border: solid 1px red;

    }
}

.container {
    margin-right: 12rem;
    display: flex;
    align-items: center;

}

.searchIcon {
    height: 3.1rem;
    background-color: #6096c7;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
}

.searchIcon:hover {
    background-color: #4886c0;
}

.inputField{

    width: 402px;
    height: 3.2rem;
    border: none;
    padding-left: 30px;

    border-radius: 12px 0 0 12px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    background-color: #e8e9ef;

    color: #000000;
}

