@media only screen and (min-width: 419px) and (max-width: 820px){
    .container{
        align-items: center;
    }
    .container .inputField{
        width: 200px;
        height: 2.2rem;
        font-size: 12px;
        border-radius: 8px 0 0 8px;
    }

    .container .searchIcon {
        border-radius: 0 8px 8px 0;
        height: 2.1rem;
    }
}

@media only screen and (min-width: 912px) and (max-width: 1280px){
    .container{
        align-items: center;
    }
    .container .inputField{
        width: 200px;
        height: 2.7rem;
        font-size: 12px;
        border-radius: 8px 0 0 8px;
    }

    .container .searchIcon {
        border-radius: 0 8px 8px 0;
        height: 2.7rem;
    }
}

@media only screen and (max-width: 420px) {
    .container {
        margin-right: 13rem !important;
        margin-left: -5rem !important;

    }
    .container .inputField{
        width: 100px;
        height: 1.7rem;
        border-radius: 8px 0 0 8px;
        font-size: 10px;
    }

    .container .searchIcon {
        border-radius: 0 8px 8px 0;
        height: 1.7rem;
    }
}


@media only screen and (max-width: 414px) {
    .container .inputField {
        width: 90px;
        height: 1.5rem;
        border-radius: 6px 0 0 6px;
        font-size: 9px;
    }
    .container .searchIcon {
        height: 1.5rem;
        border-radius: 0 6px 6px 0;
    }
}

.container {
    margin-right: 20rem;
    display: flex;
    align-items: center;
}

.searchIcon {
    height: 3.1rem;
    background-color: #6096c7;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
}

.searchIcon:hover {
    background-color: #4886c0;
}

.inputField{
    width: 402px;
    height: 3.2rem;
    border: none;
    padding-left: 30px;

    border-radius: 12px 0 0 12px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    background-color: #e8e9ef;

    color: #000000;
}

