.foot {
    /*position: absolute;*/
    background-color: #281c1c;
    justify-content: center;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.foot > p{
    font-size: 12px;
    padding: 1rem;
    color: white;
    font-family: "Apple Braille",fantasy;
    text-align: center;
}