@media only screen and (max-width: 820px) {
    .news{
        margin-left: 9.5rem !important;
        margin-top: 6rem !important;
    }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .news{
        margin-left: 8rem !important;
        margin-top: 6rem !important;
    }
}

@media only screen and (min-width: 821px) and (max-width: 911px){
    .news {
        margin-left: 9rem !important;
    }
}

@media only screen and (min-width: 912px) and (max-width: 1280px) {
    .news {
        margin-left: 12rem !important;
        margin-top: 8rem !important;
    }
}

@media only screen and (min-width: 281px) and (max-width: 520px) {
    .news {
        margin-left: 2rem !important;
        margin-top: 4rem !important;
    }
    .news >h1 {
        font-size: large !important;
    }
}

@media only screen and (max-width: 540px) {
    .news {
        margin-left: 2rem !important;
        margin-top: 4rem !important;
    }
    .news >h1 {
        font-size: large !important;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1efef;
    -webkit-shape-margin: unset;
}

.news {
    display: flex;
    margin-left: 12.5rem;
    margin-top: 12rem;
}

.news > h1{
    font-family: 'Inter', sans-serif;
    font-size: xx-large;
    color: #0e2a41;
}