@media only screen and (max-width: 830px) {
    .news{
        margin-left: 9.5rem !important;
        margin-top: 6rem !important;

    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1efef;
}

.news {
    display: flex;
    margin-left: 12.5rem;
    margin-top: 12rem;
}

.news > h1{
    font-family: 'Inter', sans-serif;
    font-size: xx-large;
    color: #0e2a41;
}