*{
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
}

.searchIcon {
    position: absolute;
    padding: .48rem;
    background-color: #357BBC;
    margin-left: 37.4rem;
    margin-top: 3rem;
    border-radius: 0px 12px 12px 0px;
    cursor: pointer;
}

.searchIcon:hover {
    background-color: #4886c0;
}

.inputField{
    position: absolute;
    width: 472px;
    height: 3rem;
    left: calc(50% - 476px/2);
    top: 3rem;
    padding-left: 40px;

    border-radius: 12px 0px 0px 12px;
    border: 1px solid #646161;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;

    color: #000000;
}

