@media only screen and (max-width: 820px){
    .allCards {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 4rem;
    }
}

.emptyState >img{
    width: 5rem;
    height: 20rem;
    display: flex;
}

@media only screen and (max-width: 375px) {
}

.allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
}
.emptyState {
    align-items: center;
    display: flex;
    flex-direction: column;
    /*border: red solid 2px;*/
}

.emptyState >img{
    height: 33.5rem;
    width: 35rem;
}

.emptyState >p{
    margin-bottom: 5rem;
    font-size: 20px;
    display: flex;
    font-style: italic;
    font-weight: 1;
}