@media only screen and (max-width: 820px){
    .allCards {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 4rem;
    }
}

.allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
}
