.allCards {
    padding: 1rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    margin: auto;
}

@media only screnn and (max-width: 830px) {
    .news {
        padding-left: 2rem;
    }
}

.news {
    display: flex;
    margin-left: 16rem;
    margin-top: 9rem;
    margin-bottom: 1rem;
}

.news > h1{
    font-family: 'Inter', sans-serif;
    font-size: xx-large;
    color: #0e2a41;
}