@media only screen and (min-width: 360px) and  (max-width: 414px) {
    .image {
        width: 22rem !important;
    }
    .header {
        width: 22rem !important;
    }
    .des {
        width: 22rem !important;
    }
}

@media only screen and (min-width: 900px) and  (max-width: 912px) {
    .image {
        width: 14rem !important;
    }
    .header {
        width: 14rem !important;
    }
    .des {
        width: 14rem !important;
    }
}

@media only screen and (min-width: 358px) and  (max-width: 360px) {
    .image {
        width: 20rem !important;
    }
    .header {
        width: 20rem !important;
    }
    .des {
        width: 20rem !important;
    }
}

@media only screen and (max-width: 280px) {
    .image {
        height: 8rem !important;
    }
}


@media only screen and (min-width: 500px) and (max-width: 540px) {
    .image {
        width: 32rem !important;
        height: 18rem !important;
    }
    .header {
        width: 32rem !important;
    }
    .des {
        width: 32rem !important;
    }
}


.newsCards {
    margin-top: 2rem;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
}

.image {
    border-radius: 12px;
    height: 12rem;
    width: 15rem;
}

.header {
    padding-top: 5px;
    padding-bottom: 3px;
    width: 15rem;
    font-family: "Apple SD Gothic Neo", sans-serif;
    font-size: medium;
    text-decoration: none;
}

.header > a {
    text-decoration: none;
}

.des {
    width: 15rem;
    font-family: 'Poppins', 'Inter', serif;
    font-style: normal;
    font-weight: 5;
    font-size: 12px;
    line-height: 120%;
}